*{padding:0;margin:0;}
body{
    width: 1260px;
    height: 940px;
    margin: 0 auto;
    background-color:#EDF2C5;
}
.topic{
    height: 880px;
    margin-left: 160px;
    margin-right: 160px;

}
header{
    margin:53px 0px 20px 0px;
}

.Vege h1{
    color:#778A50;
    font-family:Arial Black;
    font-size:44px;
    margin-bottom: 8px;
    float:left;
}

.fb {
    padding-top:20px;
    float:right;
}

.fb a{
    margin-left: 10px;
    font-size: 14px;
    float:left;
}
.line1{
    float:left;
    border-left: 1px solid #778A50;
    height:25px;
    margin-left: 10px;
}
.Login{
    border: 1px solid #778a50;
    border-radius: 3px;
    text-decoration: none;
    font-family:Arial Black;
    color: #778a50;
    height:25px;
    width:60px;
    margin-right:0px;
    font-size: 12px;
    text-align: center;
    float:center;
   
}
.Join{
    border: 1px solid #778a50;
    border-radius: 3px;
    text-decoration: none;
    font-family:Arial Black;
    color: #778a50;
    height:25px;
    width:60px;
    font-size: 12px;
    text-align: center;
   
}
nav{
    clear: both;
}
ul{
    border: 1px;
    border-radius: 3px;
    width:940px;
    height: 44px;
    list-style-type: none;
    background-color: #778A50;
   
}
li{
    margin:10px 30px 16px 30px;
    float: left;
    
}
li a{
    font-family:Arial Black;
    font-size:16px;
    color:#EDF2C5;
    text-decoration: none;
    text-align: center;
}
.toppump{
    margin-bottom:30px;
}
.leftcontent{
    float: left;
}
.bar{
    border:1px;
    border-radius:3px;
    width:445px;
    height: 54px;
    background-color: #778A50;
    margin-bottom: 15px;
}
.bar2{
    border:1px;
    border-radius:3px;
    width:445px;
    height: 54px;
    background-color: #778A50;
    margin-bottom: 15px;
}
.rightcontent{
    float: right;
}
.rightcontent h2{
    padding:15px 0px 15px 30px;
    font-family:Arial Black;
    font-size:16px;
    color:#EDF2C5;
    float: left;
}
.leftcontent h2{
    padding:15px 0px 15px 30px;
    font-family:Arial Black;
    font-size:16px;
    color:#EDF2C5;
    float: left;
}
.left,.mid{
    padding-right:12px;
    float:left;
}
.diary{
    border: 1px;
    border-radius:3px;
    background-color: #F7FBDA;
    width:445px;
    height:140px;
}
.diary p{
    font-family: ArialMT Regular;
    font-size: 12px;
    color: #7D7D7D;
    padding:16px 0px 16px 15px;
    line-height: 1.33;
}
.line2{
    border-top: 1px #7D7D7D solid;
    width: 414px;
}
.email p{
    font-family: ArialMT Regular;
    font-size: 12px;
    color: #7D7D7D;
    padding-left:15px;
    line-height: 1.83;
}
footer{
    border:1px;
    border-radius:3px;
    width:1264px;
    height: 60px;
    background-color: #778A50;
    
}
footer p{
    padding: 24px 479px 25px;
    font-family: ArialMT Regular;
    font-size: 12px;
    color: #EDF2C5;
}